@model CreationVideoViewModel;

<h2>Add new video</h2>
<br />
<form method="post" asp-controller="Video" asp-action="AddVideo">
    <input type="hidden" asp-for="UserId" value="@Model.UserId"/>
    <div class="form-group row">
        <label asp-for="Link" class="col-xs-2 col-form-label">YouTube link</label>
        <br/>
        <input asp-for="Link" class="form-control col-xs-2" type="text" id="example-text-input" placeholder="https://www.youtube.com/embed/HJMcNNyI7p0">
        <span asp-validation-for="Link"></span>
    </div>    
    <div class="form-group row">
        <label asp-for="Title" class="col-xs-2 col-form-label">Video title</label>
        <br/>
        <input asp-for="Title" class="form-control col-xs-2" type="text" id="example-text-input" placeholder="Title">
        <span asp-validation-for="Title"></span>
    </div>    
    <div class="form-group row">
        <label asp-for="Description" class="col-xs-2 col-form-label">Video description</label>
        <br/>
        <input asp-for="Description" class="form-control col-xs-2" type="text" id="example-text-input" placeholder="A little description">
        <span asp-validation-for="Description"></span>
        <br/>
    </div>    
    <div class="form-group row form-check form-switch">
        <input asp-for="IsPublic" class="form-control col-xs-2 form-check-input" type="checkbox" id="example-text-input">
        <p>Is video public</p>
        <span asp-validation-for="IsPublic"></span>
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary mb-2">Create video</button>
    </div>
</form>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
