@using WorkoutGlobal.UI.ViewModels
@model VideoViewModel;

<div id="singleVideoId">
    <iframe id="singleVideoFrameId" src="@Model.Link"></iframe>
    <p class="video-titles">@Model.Title</p>
    <p class="video-titles"><@Model.Description</p>
</div>