@using WorkoutGlobal.UI.ViewModels
@model IEnumerable<VideoWithCommentsViewModel>;

<h1>Videos</h1>
<table id="videoTableId" class="table table-border">
    <tbody>
        @{
            for (int i = 0; i < Model.Count() / 3 + 1; i++)
            {
                var videos = Model.Skip(i * 3).Take(3).ToList();
                <tr>
                    @foreach (var video in videos)
                    {
                        <td>
                            <div class="video-list-background">
                                <a class="a-non-style" asp-controller="Video" asp-action="ShowVideo" asp-route-videoId="@video.Id">
                                    <iframe src="@video.Link" ></iframe>
                                    <br/>
                                    @{
                                        var shortTitle = video.Title.Count() > 40
                                            ? video.Title.Take(40) + "..."
                                            : video.Title;
                                    }
                                    <p class="p-youtube-font-family-lg">@shortTitle</p>
                                </a>

                            </div>
                        </td>
                    }
                </tr>
                
            }
          }
    </tbody>
</table>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

