<h1>
    Welcome to Workout Global
</h1>
<p id="mainWindowDescriptionId">
    Here you can find everything you need for sports and not only. You will find a large selection
    of products from our partners, videos from specialists.
</p>