<div id="homePage">
    <h1 class="index-h1">
        Добро пожаловать Workout Global
    </h1>
    <p class="index-p">
        Этот сайт был создан с целью популяризации спортивного образа жизни.
        Основной ориентир этого сайта - спортивные тренировки, проводимые
        высококвалифицированными специалистами по всему миру. В нашем каталоге вы найдете
        найдите обширный список обучающих видеороликов, спортивных курсов и 
        онлайн-мероприятий.
    </p>
</div>
