@model WorkoutGlobal.UI.ViewModels.Authentication.UserAuthorizationViewModel

<div id="loginPage">
    <h2 class="login-h2">Авторизация</h2>
    <br />
    <form method="post" asp-controller="Home" asp-action="Login">
        @if (Context.Request.Query["exception"] == "true")
        {
            <div class="login-span-error">
                <h2>Попробуйте другой логин или пароль</h2>
            </div>
        }
        <div>
            <label class="login-label" asp-for="UserName">Ник пользователя</label>
            <br />
            <input class="login-input" asp-for="UserName" type="text">
            <span class="login-span-error" asp-validation-for="UserName"></span>
        </div>
        <div>
            <label class="login-label" asp-for="Password">Пароль</label>
            <br />
            <input class="login-input" asp-for="Password" type="password">
            <span class="login-span-error" asp-validation-for="Password"></span>
            <br>
        </div>
        <div>
            <button class="login-button" type="submit">Войти</button>
        </div>
    </form>

    @section scripts{
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
</div>

