<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout Global</title>
    <link rel="stylesheet" href="~/css/workout-global-styles.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <nav>
            <div>
                <ul class="main-ul">
                    <li><img class="main-img-logo" src="/images/logo.png" alt="Workout Global"></li>
                    <li class="main-li-references"><a class="main-li-a main-a-text" asp-controller="Home" asp-action="Index">Workout Global</a></li>
                    <li class="main-li-references"><a class="main-li-a main-a-text" asp-controller="Video" asp-action="VideosList">Видео</a></li>
                    <li class="main-li-references"><a class="main-li-a main-a-text" asp-controller="Course" asp-action="CoursesList">Курсы</a></li>
                    <li class="main-li-references"><a class="main-li-a main-a-text" asp-controller="SportEvent" asp-action="SportEventList">События</a></li>


                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="main-li-authentication"><a class="main-li-a main-a-text" asp-controller="User" asp-action="SelectProfile">@User.Identity.Name</a></li>
                        <li class="main-li-authentication"><a class="main-li-a main-a-text" asp-area="" asp-controller="Home" asp-action="LogOut">Выйти</a></li>
                    }
                    else
                    {
                        <li class="main-li-authentication"><a class="main-li-a main-a-text" asp-area="" asp-controller="Home" asp-action="Login">Войти</a></li>           
                        <li class="main-li-authentication"><a class="main-li-a main-a-text" asp-area="" asp-controller="Home" asp-action="Registration">Зарегистрироваться</a></li>
                    }
                </ul>
            </div>
        </nav>
                
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    
    <footer class="border-top footer text-muted"></footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
